<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <script defer src="/_vercel/insights/script.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">
    <title>AltF4</title>
</head>
<body>
    <%- nav %>
    <div class="main">
        <div class="titulo">
            <h3>Sobre Youtubers!</h3>
        </div>
        <div class="noticias">
            <h3><a href="">Noticias</a></h3>
            <%- news %>
       </div>
    </div>
    <%- footer %>
</body>
</html>
